* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 100%;
	background-color: #444;
}
h1, h2 { 
	margin: 0;
}
div.content {
	font-size: 1.6em;
}
.goToTop {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
}
/*=============================
=		MODAL Styling   	  =
=============================*/
#dashlightsModal h4 {
	text-decoration: underline;
}
.dashLights {
	text-align: center;
}
.dashLights img {
	cursor: pointer;
}
#bmwLights, 
#miniLights, 
.light_info,
#bmwSelected,
#miniSelected {
	display: none;
}
#bmwSelected,
#miniSelected {
	color: white;
}
p.light_info, ul.light_info {
	font-size: 1.5em;
}
.light_icons img {
	width: 50px;
	height: 40px;
}
.light_icons img:hover {
	outline: 1px solid red;
	transform: scale(1.5);
	-moz-transform:scale(1.5); 
	-webkit-transform:scale(1.5);
	-o-transform:scale(1.5);
}
.lighting img {
	width: 80px;
}
.modal-footer {
	text-align: center;
	font-size: 1.5em;
}
/*=============================
=		HEADER Styling   	  =
=============================*/
header{
	min-height: 100vh;
	background: url(../images/bmw_st_johns.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}
header i {
	color: #ffc233;
	margin-top: 10px;
	text-shadow: 0px 0px 3px #333;
	-webkit-animation: pulseEffect 2.5s infinite;
}
header i:hover {
	color: #ffed61;
	text-shadow: 1px 1px 10px black;
	cursor: pointer;
	-webkit-animation: none;
}
@-webkit-keyframes pulseEffect {
	0% { color: #ffc233; }
	50% { color: #ffed61; }
	100% { color: #ffc233; }
}
div#headerContent {
	text-align: center;
	position: relative;
	top: 10vh;
}
span.dynasport {
	font-size: 3em;
	-webkit-text-stroke: 1px black;
	text-shadow:
       2px 2px 0 #222,
     -1px -1px 0 #222,  
      1px -1px 0 #222,
      -1px 1px 0 #222,
       5px 5px 0 #222;
	font-family: 'Racing Sans One', arial;
	display: inline-block;
	margin: 0 auto;
}
span#dyna {
	color: #dbbc8c;
}
span#sport {
	color: #ab8c5e;
	-webkit-animation-delay: 0.3s;
}
#headerContent h2 {
	color: #78c7ff;
	margin: 0;
	letter-spacing: 0.1em;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 3px 3px 2px #222;
	font-family: 'Racing Sans One', arial;
	-webkit-animation-delay: 1s;
}
/*=============================
=		NAVIGATION Styling    =
=============================*/
nav {
	display: none;
	background-color: #1c1e21;
	height: 70px;
}
nav p {
	display: inline-block;
	font-family: 'Racing Sans One', arial;
	font-size: 3em;
	position: relative;
	float: right;
	padding: 0;
	margin: 30px;
	line-height: 0;
	-webkit-transition: all 300ms;
  			transition: all 300ms;
}
nav p:hover {
	color: white;
	cursor: crosshair;
}
/*=============================
=		MAIN Styling    	  =
=============================*/
main {
	position: relative;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
section#about{
	min-height: 100vh;
}
section#about div.sectionRight {
	height: 100vh;
	background: url(../images/dyna_mini.jpg) no-repeat center;
	background-size: cover;
	padding: 0;
}
section#about div.sectionLeft {
	min-height: 100vh; 
	padding: 0;
}
section#about div.sectionLeft h2 {
	font-family: 'Racing Sans One', arial;
}
section#about div.sectionLeft div#aboutUs {
	background-color: white;
	padding: 5%;
	margin: 0;
	min-height: 50vh;
	color: #222;
}
section#about div.sectionLeft div#performance {
	background-color: #222;
	padding: 5%;
	margin: 0;
	min-height: 50vh;
}
section#quotes {
	height: 40vh;
}
section#quotes div#quotesContent {
	background-color: #ddd;
	height: 100%;
	padding: 50px 0;
}
section#quotes div#quotesContent h2 {
	font-family: 'Racing Sans One', arial;
	color: #272b30;
}
section#quotes div#quotesContent #quote-carousel {
	text-align: center;
	color: #272b30;
}
section#quotes div#quotesContent #quote-carousel .carousel-inner {
	margin-top: 10px;
	border-top: 1px solid black;
}
section#quotes div#quotesContent #quote-carousel .carousel-inner blockquote {
	border-left: none;
}
div#instafeed img {
  width: 25%;
}
section#contactForm {
	background: url(../images/carbon-fiber.jpg) no-repeat;
	background-size: cover;
	padding: 20px 0;
}
div#contactContent p a {
	font-weight: bold;
	color: #ab8c5e;
	line-height: 2em;
	font-size: 1.5em;
	text-align: center;
}
div#contactContent p {
	text-align: center;
	font-size: 2em;
}
div#contactContent address {
	font-size: 1.5em;
	font-weight: bold;
}
div#contactContent #mapImg {
	margin: auto;
	width: 100%;
}
div#contactContent #mapBtn {
	margin-top: 5px;
}
div#linksContent .topLinks {
	background-color: #111;
}
div#linksContent .topLinks .linkTop_img {
	width: 100%;
	margin-top: 30px;
}
div#linksContent .bottomLinks {
	background-color: #222;
	padding: 10px;
}
div#linksContent .bottomLinks .linkBottom_img {
	padding-top: 0.5em;
}
/*=============================
=		FOOTER Styling    	  =
=============================*/
footer{
	height: 100px;
	background-color: black;
	position: relative;
	text-align: center;
	z-index: -1;
}
footer p {
	position: fixed;
	bottom: 35px;
	left: 0;
	right: 0;
	color: #444;
	font-size: 1.2em;
	font-weight: bold;
}
/*=============================
=	Mobile Specific Styling   =
=============================*/
@media only screen and (max-width: 767px){
	section#quotes{
		min-height: 50vh;
	}
}